.material-icons {
    font-size: 30px;
}

  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
    border-top: 8px solid #777777;
    background-color: #4aaaa5;
    padding-bottom: 50px;
} 

.images {
  width: 100%;
}

.scroller {
  width: 250px;
  height: 728px;
  overflow-y: scroll;
  scrollbar-width: 250px;
  position: fixed;
}

#actionBtn {
  position: sticky;
  
}